.info {
  background-color: rgba(0, 128, 0, 0.2);
}
.warning {
  background-color: rgba(255, 0, 0, 0.2);
}
.validation {
  background-color: rgba(0, 0, 255, 0.2);
}
.alerte {
  border: 1px solid grey;
  margin-bottom: 3px;
}
p {
  font-size: 16px;
}

