<div class="alerte" [class]="message.nature">
  <p>{{ message.texte | inverser}}</p>
  <p>{{ message.date | date : 'dd-MM-YYYY HH:ss'}}</p> 
  <button (click)="onClickButton()">Supprimer</button>
</div>



