<h1>Salut {{ title }}</h1>
<div class="alertes-container">
  <button (click)="toggleMessages()">
    {{ showMessages ? 'Cacher les messages' : 'Afficher les messages' }}
  </button>
  @if (showMessages) {
    @for (message of messages | async; track message.id) {
      <app-alerte [message]="message"></app-alerte>
    } @empty {
      <p>Aucun message</p>
    }
  }@else {
    <p>Les messages sont cachés</p>
  }
</div>
