<h1>Intiltulés des exercices</h1>
<mat-action-list>
    @for(obj of tabExercices; track obj.id){
        <a mat-list-item [routerLink]="['/exercice', obj.id]">Exercice {{obj.id}}: {{obj.nom | titlecase}} </a>
        <mat-divider></mat-divider>
    }
        
</mat-action-list>
@if (selected !== undefined) {
    <app-detail-exercice [selected]="selected" (estRendue)="onEstRendue()"></app-detail-exercice>
}