<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{selected?.nom | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{selected?.dateDeRendu | date : 'dd-MM-YYYY'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    @if (selected?.rendu) {
      <button mat-button (click)="changeRendu()">Annuler le rendu</button>
    }@else {
      <mat-checkbox (change)="changeRendu()">Rendre travail</mat-checkbox>
    }
    <a mat-list-item [routerLink]="['/exercice', onSuivant()]">Suivant</a>
    <a mat-list-item [routerLink]="['/exercice', onPrecedent()]">Precedent</a>
  </mat-card-actions>
</mat-card>
